fastapi
uvicorn[standard]
sqlalchemy
asyncpg
greenlet
redis
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
langgraph
langchain
langchain-community
langchain-core
json-log-formatter
langchain-google-genai
